body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #6d02f8, #ec71e8);
    color: #333;
  }
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    border: 5px;

  }
  
  .board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    background-color: #ddd;
    border: #333 solid;
    border-radius: 10px;
  }
  
  .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    background-color: #e2dada;
    border: 1px solid #151212;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
  }
  
  .reset-btn, .reset-scorecard-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
  }
  .cell:hover{
    background-color: #FFE5E5;
  }
  .reset-btn:hover , .reset-scorecard-btn:hover {
    background-color: #49108B;
    color: #fff;
  }